fastapi
uvicorn[standard]
python-dotenv
requests
groq
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
rank-bm25
numpy
scikit-learn

torch==2.6.0
torchvision==0.21.0
transformers==4.48.3
sentence-transformers==3.4.1
